*
{
    box-sizing: border-box;
    font-family:"Bitcount Single", system-ui;
}

body
{
    background-image: url("textures/background.png");
    background-size: fill;
}

h1, h2
{
    text-align: center;
    color: rgb(255, 233, 135);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

h1
{
    font-size: 50px;
}

h2
{
    margin: 10px;
    font-size: 35px;
}

form
{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px black;
    border-radius: 25px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);

    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.35), rgba(150, 150, 150, 0.35));
}

form div
{
    margin: 10px;
    color: rgb(255, 233, 135);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    font-size: 25px;
}

button, input[type="submit"]
{
    display: block;
    width: 100px;
    height: 40px;
    padding: 5px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);

    background-image: linear-gradient(to bottom, rgb(255, 233, 135), rgb(194, 142, 0));
}

button:hover, input[type="submit"]:hover
{   
    box-shadow: 0px 0px 25px rgb(255, 241, 115);
    background-image: linear-gradient(to bottom, rgb(255, 230, 0), rgb(255, 145, 0));
}

label
{
    color: rgb(255, 233, 135);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
}

input, label
{
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.container
{
    margin-left: auto;
    margin-right: auto;

    display: grid;
    width: 35vw;
    height: 35vw;

}

.container div
{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50%;
}

.covered
{
    background-image: url("textures/covered.png");
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;
}

.covered:hover
{
    box-shadow: 0px 0px 20px rgb(255, 200, 48) inset;
}

.flagged
{
    background-image: url("textures/flagged.png"), url("textures/covered.png");
    background-size: contain, contain;
    background-repeat: no-repeat, repeat;
    image-rendering: pixelated;
}

.flagged:hover
{
    box-shadow: 0px 0px 20px red inset;
}

.uncovered
{
    background-image: url("textures/uncovered.png");
    background-position: center;
    background-size: contain;
    image-rendering: pixelated;

    font-family:'Courier New', Courier, monospace;
}

.uncovered[value = "1"]
{
    color: rgb(106, 218, 255);
}
.uncovered[value = "2"]
{
    color: rgb(25, 87, 255);
}
.uncovered[value = "3"]
{
    color: rgb(162, 0, 255);
}
.uncovered[value = "4"]
{
    color: rgb(255, 0, 255);
}
.uncovered[value = "5"]
{
    color: rgb(255, 0, 85);
}
.uncovered[value = "6"]
{
    color: rgb(255, 0, 0);
}
.uncovered[value = "7"]
{
    color: rgb(255, 145, 0);
}
.uncovered[value = "8"]
{
    color: rgb(255, 187, 0);
}



